* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

.top-container {
    height: 665px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.flex-container-top {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    height: 30px;
}

.top-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.options {
    padding-right: 30px;
    font-size: 15px;
    text-decoration: none;
}

.options a {
    text-decoration: none;
    color: white;
}

.btn-login {
    padding: 6px;
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
}

.btn-login:hover {
    cursor: pointer;
}

header {
    color: white;
    text-align: center;
    margin: 200px auto;
    font-size: 1.5em;
    max-width: 53%;
}

header h1 {
    font-weight: bold;
    margin-bottom: 1em;
}

.btn-header {
    margin-top: 2em;
}

.download {
    color: black;
    background-color: white;
    margin-right: 30px;
    font-weight: 500;
}

.browser {
    color: white;
    background-color: #23272A;
}

.btn {
    border-radius: 30px;
    padding: 15px 20px;
}