* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
}

header {
    background-color: #255EE9;
}

.header-background {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.flex-container-top {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    height: 30px;
}

.top-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.options {
    padding-right: 30px;
    font-size: 15px;
    text-decoration: none;
}

.options a {
    text-decoration: none;
    color: white;
}

.btn-login {
    padding: 6px;
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
}

.btn-login:hover {
    cursor: pointer;
}

.header-main {
    color: white;
    text-align: center;
    margin: auto;
    padding: 5em 1em;
    max-width: 53%;
}

.top-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.btn-header {
    margin-top: 2em;
}

.download {
    color: black;
    background-color: white;
    margin-right: 30px;
    font-weight: 500;
}

.browser {
    color: white;
    background-color: #23272A;
}

.btn {
    border-radius: 30px;
    padding: 15px 20px;
}

/* main */

.main-container-t {
    padding: 4em .5em;
    margin: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
}


.text-main-t {
    text-align: left;
    margin-left: 60px;
}

main p{
    font-size: 16px;
}

.text-main-t p {
    margin-top: 2em;
}

.main-container-c {
    padding: 4em .5em;
    margin: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row-reverse;
}


.text-main-c {
    margin-top: 1em;
    text-align: left;
    margin-right: 60px;
}

.text-main-c p {
    margin-top: 2em;
}

.back {
    background-color: #F6F6F6;
}

.main-container-b {
    padding: 4em .5em;
    margin: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
}


.text-main-b {
    margin-top: 1em;
    text-align: left;
    margin-right: 60px;
}

.text-main-b p {
    margin-top: 2em;
}

.main-container-bottom {
    padding: 4em .5em;
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

.text-main-bottom {
    margin-top: 2em;
}

.text-main-bottom p {
    margin-top: 2em;
}

.bottom-section {
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4em .5em;
}

.bottom-section h2 {
    margin-bottom: 2em;
}

.btn-bottom {
    padding: 15px 20px;
    background-color: #7289DA;
    color: white;
    border-radius: 30px;
}

footer {
    background-color: #23272A;
}